{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Cerca: </h1>

            <form id="form_cerca" class="needs-validation">
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="ricerca" name="ricerca" placeholder="Inserisci la stringa di ricerca">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">
                            Cerca &NonBreakingSpace;
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
            
            <br>

            <div id="risultati">
                <div id="episodi"></div>
                <div id="stagioni"></div>
                <div id="serie"></div>
            </div>
        </div>
    </div>
    
    <script>
        $("#form_cerca").submit(
            // evita l'invio del form alla pressione del bottone
            // verra' gestito da AJAX
            function(e) {
                e.preventDefault();
            }
    
        ).validate({
            messages : {
                ricerca: {
                    required: "Inserisci questo campo !"
                },
            },
            submitHandler: function (form) {
                $.ajax({
                    url: server_ip + '/cerca',
                    type: 'POST',
                    data: $(form).serialize(),

                    success: function(response) {
                        risultato = response.response;
                        
                        // elementi del DOM da popolare
                        var box_serie = $('#serie');
                        var box_stagioni = $('#stagioni');
                        var box_episodi = $('#episodi');
                        
                        // array risultati divisi in base al tipo
                        var serie = risultato.serie;
                        var stagioni = risultato.stagioni;
                        var episodi = risultato.episodi;
                        
                        // --- POPOLAZIONE EPISODI --- //
                        if (episodi.length > 0) {
                            box_episodi.html(
                                $('<div>')
                                    .append($('<h3>Episodi: </h3>'))
                                    .append(plot_episodi(episodi))
                                    .append($('<br>'))
                            );
                        } else {
                            box_episodi.empty();
                        }

                        // --- POPOLAZIONE STAGIONI --- //
                        if (stagioni.length > 0) {
                            box_stagioni.html(
                                $('<div>')
                                    .append($('<h3>Stagioni: </h3>'))
                                    .append(plot_stagioni(stagioni))
                                    .append($('<br>'))
                            );
                        } else {
                            box_stagioni.empty();
                        }

                        // --- POPOLAZIONE SERIE --- //
                        if (serie.length > 0) {
                            box_serie.html(
                                $('<div>')
                                    .append($('<h3>Serie: </h3>'))
                                    .append(plot_serie(serie))
                            );
                        } else {
                            box_serie.empty();
                        }
                    },

                    error: function(error) {
                        alert(error.responseJSON.error);
                    }
                    
                });
                
            }
        });
    </script>
{% endblock content %}
