{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Modifica Episodio</h1>
            
            <br>

            <form id="modifica_episodio" class="needs-validation">
                <div class="form-group">
                    <label for="nome">Nome: </label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                
                <div class="form-group">
                    <label for="descrizione">Descrizione: </label>
                    <textarea class="form-control" id="descrizione" name="descrizione" placeholder="Inserisci una breve descrizione dell'Episodio"></textarea>
                </div>
                
                <div class="form-group">
                    <label for="tag">Tag: </label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="Inserisci i tag">
                    <small id="tagHelp" class="form-text text-muted">I tag devono essere di questo tipo: #tag</small>
                </div>
                
                <div class="form-group">
                    <label for="episodio_file">Scegli il file: </label>
                    <input type="file" class="form-control" id="episodio_file" name="file">
                </div>

                <input type="hidden" id="stagione_id" name="id" value="{{episodio_id}}">
                
                <button class="btn btn-info">Aggiorna</button>
            </form>
        </div>
    </div>
    
    <script>
        $(document).ready(
            function() {
                $.ajax({
                    //url: server_ip + '/episodio/{{episodio_id}}',
                    url: `${server_ip}/episodio/{{episodio_id}}`,
                    type: 'GET',
                    contentType: "application/json",

                    success: function(response) {
                        episodio = response.response;
                        
                        $('#descrizione').val(episodio.descrizione);
                        $('#tag').val(episodio.tag);
                        $('#nome').val(episodio.nome);
                    },

                    error: function(error) {
                        console.log(error);

                    }
                    
                });
            }
        );

        $("#modifica_episodio").submit(
            // evita l'invio del form alla pressione del bottone
            // verra' gestito da AJAX
            function(e) {
                e.preventDefault();
            }
    
        ).validate({
            messages : {
                nome: {
                    required: "Inserisci questo campo !"
                },
            },
            submitHandler: function (form) {
                var formData = new FormData(form);

                $.ajax({
                    url: `${server_ip}/episodio`,
                    type: 'PUT',
                    data: formData,

                    success: function(response) {
                        alert(response.message);
                        location.reload();
                    },

                    error: function(error) {
                        alert(error.responseJSON.error);
                    },

                    contentType: false,
                    processData: false
                    
                });
                
            }
        });
    </script>
{% endblock content %}
