{% extends "layout.html" %}
{% block content %}
<div class="container">

    <div class="card">
        <div class="card-header">
            <table style="width: 100;">
                <tr style="width: 100%;">
                    <td id="tag" style="width: 100%; color: blue;"></td>
                    <td style="width: auto;">
                        <button class="btn btn-danger btn-sm" onclick="elimina_serie({{serie_id}});">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                              </svg>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-10 col-md-9">
                    <h1 id="nome"></h1>
                </div>
                <div class="col-xl-2 col-md-3">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#aggiorna_modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                        Modifica
                    </button>
                </div>
            </div>
            <p class="card-text"><h4>Descrizione:</h4> <span id="descrizione"></span></p>
            <br>
            <p class="card-text">
                <h2>Stagioni: </h2>
                <p>
                    <button class="btn btn-success" data-toggle="modal" data-target="#aggiungi_stagione">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                        </svg>
                        Aggiungi Stagione
                    </button>
                </p>

                <div class="accordion" id="accordion"></div>
            </p>
        </div>
    </div>
</div>

<!-- SEZIONE MODAL -->
<!-- MODAL MODIFICARE SERIE-->
<div class="modal fade" id="aggiorna_modal" tabindex="-1" role="dialog" aria-labelledby="aggiornaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="aggiornaModalLabel">Modifica Serie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <form class="needs-validation" id="form_aggiorna_serie">
                <div class="form-group">
                    <label for="nome_modal">Nome</label>
                    <input type="text" id="nome_modal" name="nome" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="descrizione_modal">Descrizione: </label>
                    <textarea id="descrizione_modal" name="descrizione" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag_modal">Tags: </label>
                    <input type="text" name="tag" id="tag_modal" class="form-control">
                    <small id="tagHelp" class="form-text text-muted">I tag devono essere di questo tipo: #tag</small>
                </div>
                <input type="hidden" id="id_modal" name="id" />
            </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="if (cambiamenti_effettuati) {location.reload();}">Chiudi</button>
          <button type="submit" class="btn btn-primary" form="form_aggiorna_serie">Modifica</button>
        </div>
      </div>
    </div>
</div>

<!-- MODAL AGGIUNGI STAGIONE-->
<div class="modal fade" id="aggiungi_stagione" tabindex="-1" role="dialog" aria-labelledby="aggiungi_stagione_Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="aggiungi_episodio_Label">Aggiungi una nuova Stagione</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <form id="form_aggiungi_stagione">
                <div class="form-group">
                    <label for="nome_stagione_modal">Nome</label>
                    <input type="text" id="nome_stagione_modal" name="nome" class="form-control" placeholder="Inserisci il nome dell stagione" required>
                </div>
                <div class="form-group">
                    <label for="descrizione_stagione_modal">Descrizione: </label>
                    <textarea id="descrizione_stagione_modal" name="descrizione" class="form-control" placeholder="Inserisci una breve descrizione"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag_stagione_modal">Tags: </label>
                    <input type="text" id="tag_stagione_modal" name="tag" class="form-control" placeholder="#tag #qui">
                    <small id="tagHelp" class="form-text text-muted">I tag devono essere di questo tipo: #tag</small>
                </div>
                <input type="hidden" id="serie_id_modal" name="serie_id" />
            </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="if (cambiamenti_effettuati) {location.reload();}">Chiudi</button>
          <button type="submit" class="btn btn-success" form="form_aggiungi_stagione">Aggiungi</button>
        </div>
      </div>
    </div>
</div>

<!-- MODAL AGGIUNGI EPISODIO -->
<div class="modal fade" id="aggiungi_episodio" tabindex="-1" role="dialog" aria-labelledby="aggiungi_episodio_Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="aggiungi_episodio_Label">Aggiungi un nuovo Episodio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <form id="form_aggiungi_episodio" class="needs-validation">
                <div class="form-group">
                    <label for="episodio_nome">Nome: </label>
                    <input type="text" class="form-control" id="episodio_nome" name="nome" placeholder="Inserisci il nome dell'episodio" required>
                </div>
                <div class="form-group">
                    <label for="episodio_descrizione">Descrizione: </label>
                    <textarea class="form-control" id="episodio_descrizione" name="descrizione" placeholder="Inserisci una breve descrizione dell'episodio"></textarea>
                </div>
                <div class="form-group">
                    <label for="episodio_tag">Tag: </label>
                    <input type="text" class="form-control" id="episodio_tag" name="tag" placeholder="Inserisci i tag">
                    <small id="tagHelp" class="form-text text-muted">I tag devono essere di questo tipo: #tag</small>
                </div>
                
                <div class="form-group">
                    <label for="episodio_file">Scegli il file: </label>
                    <input type="file" class="form-control" id="episodio_file" name="file" required>
                </div>

                <input type="hidden" id="episodio_stagione_id" name="stagione_id">
            </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="if (cambiamenti_effettuati) {location.reload();}">Chiudi</button>
          <button type="submit" class="btn btn-success" form="form_aggiungi_episodio">Aggiungi</button>
        </div>
      </div>
    </div>
</div>

<script>
    var cambiamenti_effettuati = false; // variabile per vedere se serve riaggiornare il contenuto della pagina

    // popola il contenuto del body
    $(document).ready(
        function() {
            $.ajax({
                url: server_ip + '/serie/{{serie_id}}',
                type: 'GET',
                contentType: "application/json",

                success: function(response) {
                    serie = response.response;

                    // elementi della serie
                    $("#tag").text(serie.tag);
                    $("#descrizione").text(serie.descrizione);
                    $("#nome").text(serie.nome);
                    
                    // modal modifica serie
                    $("#id_modal").val(serie.id);
                    $("#tag_modal").val(serie.tag);
                    $("#nome_modal").val(serie.nome);
                    $("#descrizione_modal").val(serie.descrizione);
                    
                    // modal aggiungi stagione
                    $("#serie_id_modal").val(serie.id);

                    //--- POPOLA STAGIONI ---//
                    $.ajax({
                        url: server_ip + '/stagioni_of/' + serie.id,
                        type: 'GET',
                        contentType: "application/json",

                        success: function(response) {
                            stagioni = response.response;

                            var box_stagione = $('#accordion');

                            stagioni.forEach(element => {
                                var tmp = $('<div class="card">').append(
                                    $('<div class="card-header">')          // CARD HEADER
                                        .attr('id', 'heading'+element.id)
                                        .append(
                                            $('<div class="row">').append(      // CONTENUTO CARD HEADER
                                                $('<div class="col-md-10">')    // Colonna 1
                                                    .append(
                                                        $('<h5>')
                                                            .append(
                                                                $('<button class="btn btn-link" data-toggle="collapse" aria-expanded="false">')
                                                                    .attr('data-target', '#collapse'+element.id)
                                                                    .attr('aria-controls', 'collapse'+element.id)
                                                                    .text(element.nome)
                                                            )
                                                    ),
                                                $('<div class="col-md-2">')     // Colonna 2
                                                    .append(
                                                        $('<button class="btn btn-sm btn-success" data-toggle="modal" data-target="#aggiungi_episodio">')   // bottone aggiungi episodio
                                                            .attr('onclick', '$("#episodio_stagione_id").val('+element.id+');')
                                                            .html(
                                                                $('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16"><path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/></svg>')
                                                            ),
                                                        $('<span>').text(' '),
                                                        $('<a class="btn btn-sm btn-primary">')    // bottone modifica stagione
                                                            .attr('href', '/stagione/'+element.id)
                                                            .html(
                                                                $('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>')
                                                            ),
                                                        $('<span>').text(' '),
                                                        $('<button class="btn btn-sm btn-danger">')     // bottone elimina stagione
                                                            .attr('onclick', 'elimina_stagione('+element.id+')')
                                                            .html(
                                                                $('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/><path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/></svg>')
                                                            )
                                                    )
                                            )
                                        ),
                                );
                                
                                // body collassabile
                                var card_collapse = $('<div class="collapse show" data-parent="#accordion">')
                                    .attr('id', 'collapse'+ element.id)
                                    .attr('aria-labelledby', 'heading'+element.id)
                                    .append(
                                        
                                    )

                                var card_body = $('<div class="card-body">')    // CARD BODY
                                    .append(
                                        $('<p>')
                                            .attr('style', 'color: blue;')
                                            .text(element.tag),
                                        $('<p>')
                                            .text(element.descrizione)
                                    )

                                //--- POPOLA EPISODI ---//
                                // popola ogni card_body con la tabella degli episodi
                                $.ajax({
                                    url: server_ip + '/episodi_of/'+ element.id,
                                    type: 'GET',
                                    
                                    success: function (response) {
                                        episodi = response.response;

                                        var table = $("<table>").attr('class', 'table table-hover table-striped');
                                        var tbody = $('<tbody>');

                                        episodi.forEach(element => {
                                            var riga = $('<tr>');
                                            var nome = $('<td>').text(element.nome);
                                            var descrizione = $('<td>').text(element.descrizione);
                                            var tag = $('<td class="tag">').text(element.tag);
                                            var play = $('<td>')
                                                .append(
                                                    $('<a class="btn btn-sm btn-info" target="_blank">')
                                                        .attr('href', server_ip + '/play/' + element.id)
                                                        .html(
                                                            $('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/></svg>')
                                                        )
                                                );

                                            riga.append(nome, descrizione, tag, play);
                                            tbody.append(riga);
                                            
                                        });
                                        table.append(tbody);
                                        box_stagione.append(table);

                                        card_body.append(table);
                                    },

                                    error: function (error) {
                                        alert(error.responseJSON.error);
                                    }

                                });

                                tmp.append(card_collapse.append(card_body))
                                box_stagione.append(
                                    tmp,
                                    $('<p>')
                                );
                            });
                        },

                        error: function(error) {
                            console.log(error);

                        }  
                    });
                },

                error: function(error) {
                    console.log(error);

                }  
            });


        }
    )
    
    //*** GESTIONE FORM PER AGGIORNA EPISODIO ***//
    $("#form_aggiorna_serie").submit(
        // evita l'invio del form alla pressione del bottone
        // verra' gestito da AJAX
        function(e) {
            e.preventDefault();
        }
    ).validate({
        messages : {
            nome: {
                required: "Inserisci questo campo !"
            },
        },

        submitHandler: function (form) {
            $.ajax({
                url: server_ip + '/serie',
                type: 'PUT',
                data: $(form).serialize(),

                success: function(response) {
                    cambiamenti_effettuati = true;
                    alert(response.message);
                },

                error: function(error) {
                    alert(error.responseJSON.error);
                }
                
            });
        }
    });

    //*** GESTIONE FORM PER AGGIUNGI STAGIONE ***//
    $("#form_aggiungi_stagione").submit(
        // evita l'invio del form alla pressione del bottone
        // verra' gestito da AJAX
        function(e) {
            e.preventDefault();
        }
    ).validate({
        messages : {
            nome_stagione_modal: {
                required: "Inserisci questo campo !"
            },
        },

        submitHandler: function (form) {
            $.ajax({
                url: server_ip + '/stagione',
                type: 'POST',
                data: $(form).serialize(),

                success: function(response) {
                    cambiamenti_effettuati = true;
                    alert(response.message);
                },

                error: function(error) {
                    alert(error.responseJSON.error);
                }
                
            });
        }
    });

    //*** GESTIONE FORM PER AGGIUNGI EPISODIO ***//
    $("#form_aggiungi_episodio").submit(
            // evita l'invio del form alla pressione del bottone
            // verra' gestito da AJAX
            function(e) {
                e.preventDefault();
            }
    
        ).validate({
            messages : {
                nome: {
                    required: "Inserisci questo campo !"
                },
                file: {
                    required: "Devi scegliere un file !"
                },
            },
            submitHandler: function (form) {
                var formData = new FormData(form);

                $.ajax({
                    url: server_ip + '/episodio',
                    type: 'POST',
                    data: formData,

                    success: function(response) {
                        
                        alert(response.message);
                        cambiamenti_effettuati = true;
                    },

                    error: function(error) {
                        alert(error.responseJSON.error);
                    },

                    contentType: false,
                    processData: false
                    
                });
                
            }
        });
</script>
{% endblock content %}