{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-xl-10 col-md-9">
            <h1>Serie disponibili:</h1>
        </div>

        <div class="col-xl-2 col-md-3">
            <a class="btn btn-success btn-block" href="/add_serie">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                  </svg>
                Aggiungi Serie
            </a>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12">
            <div id='box_serie'></div>
        </div>
    </div>

    <script>
        $(document).ready(
            function() {
                $.ajax({
                    url: server_ip + '/serie',
                    type: 'GET',
                    contentType: "application/json",

                    success: function(response) {
                        series = response.response;
                        
                        // aggiunge al DOM le serie formattate
                        $('#box_serie').append(plot_serie(series));
                    },

                    error: function(error) {
                        console.log(error);
                    }
                    
                });
            }
        );
         
    </script>

{% endblock content %}
